
.home{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 50px 0px 60px 0px;
}

.header{
    width: 100%;
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}

.searchForm{
    width: 300px;
    margin: 0 auto 20px auto;
}

.searchForm input{
    width: 300px;
    height: 20px;
    line-height: 18px;
    font-size: 16px;
    padding-left: 3px;
    outline: none;
    display: block;
    margin-bottom: 10px;
}

.searchForm div{
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    background: #006dac;
    color: #fff;
    box-shadow: 1px 1px 2px black;
}

.searchForm div:active{
    box-shadow: inset 1px 1px 2px black;
}

.searchResults{
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.searchResult{
    width: 160px;
    height: 170px;
    margin: 2px 2px;
    padding: 2px 2px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    overflow: hidden;
}

.thumbnail{
    max-width: 140px;
    max-height: 140px;
    border-radius: 1px;
    margin-left: 2px;
}

.title{
    width: 90px;
    font-size: 11px;
    margin-left: 2px;
}

.fullSizeOverlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(210, 210, 210, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeX{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(190, 190, 190, 0.5);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    transition: all 0.2s;
}

.closeX:hover{
    transform: scale(1.1);
    background: rgba(190, 190, 190, 0.8);
}

.fullSizeImage{
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

.errorMessage{
    width: 80%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto;
}

@media screen and (min-width: 490px){
    .searchResults{
        width: 98%;
        max-width: 1400px;
        margin: 0 auto;
        display: block;
    }
    .searchResult{
        display: inline-block;
        vertical-align: top;
    }
}

@media screen and (min-width: 800px){
    .searchResults{
        width: 96%;
    }
    .searchForm{
        width: 500px;
    }
    .searchForm input{
        width: 500px;
        height: 30px;
        line-height: 28px;
        font-size: 22px;
        padding-left: 5px;
    }
}

@media screen and (min-width: 1050px){
    .searchResults{
        width: 92%;
    }
}