
.home{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.searchResults{
    width: 100%;
    padding: 50px 0px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.searchResult{
    width: 130px;
    height: 130px;
    border: 1px solid black;
    margin: 10px 10px;
    padding: 10px 10px;
    box-shadow: 1px 1px 1px black;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    overflow: hidden;
}

.thumbnail{
    width: 90px;
    height: 90px;
    border-radius: 1px;
    margin-left: 10px;
}

.title{
    width: 90px;
    font-size: 11px;
    margin-left: 10px;
}

.fullSizeOverlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(210, 210, 210, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeX{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(190, 190, 190, 0.5);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    transition: all 0.2s;
}

.closeX:hover{
    transform: scale(1.1);
    background: rgba(190, 190, 190, 0.8);
}

.fullSizeImage{
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

@media screen and (min-width: 490px){
    .searchResults{
        width: 98%;
        max-width: 1400px;
        margin: 0 auto;
        display: block;
    }
    
    .searchResult{
        display: inline-block;
        vertical-align: top;
    }
}

@media screen and (min-width: 800px){
    .searchResults{
        width: 96%;
    }
}

@media screen and (min-width: 1050px){
    .searchResults{
        width: 92%;
    }
}